* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
}

.contenedor {
  margin: auto;
  width: 100%;
}

nav {
  background: #8cc04b;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  font-size: 20px;
  height: 50px;
}

nav div {
  height: 100%;
}

nav div a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: 800;
  font-size: 25px;
  background-color: #437603;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

nav div a:hover {
  background-color: rgb(41, 63, 5);
  color: #fff;
}

nav ul {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 20px;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  height: 50px;
  display: grid;
  place-items: center;
  padding: 0 10px;
}

ul li a:hover {
  background: #437603;
  color: #fff;
}

ul li.active {
  background-color: #437603;
  color: #fff;
}

p span {
  color: #437603;
}

.contenedor nav i {
  display: none;
}

#section-1 {
  justify-content: space-around;
  height: 80vh;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

#section-1 h2 {
  font-size: 30px;
}

div.photo {
  width: 50%;
  display: flex;
  justify-content: center;
}

img {
  display: block;
  width: 70%;
}

div.text {
  border-left: 6px solid #437603;
  padding-left: 15px;
  width: fit-content;
}

div.waldo {
  width: 50%;
  display: grid;
  place-items: center;
}

.waldo p {
  font-size: 45px;
  font-weight: 700;
}

.contact-button a {
  background: #8cc04b;
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  margin-top: 30px;
  text-align: center;
  color: #1a1919d3;
  text-decoration: none;
  letter-spacing: 1px;
  border-radius: 40px;
  border: 1px solid #000000;
  padding: 10px;
  box-shadow: 0px 3px 5px 0px;
  transition: all 0, 3s;
}
.contact-button-mobile {
  display: none;
}

.waldo a:hover {
  background: rgb(41, 63, 5);
  color: white;
}

.rds {
  display: flex;
}

.rds span {
  color: grey;
  border-radius: 50%;
  border: 1px solid #8cc04b;
  padding: 10px;
  margin-left: 10px;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  width: 100vw;
  font-size: 12px;
  background: #1a1919;
  padding: 20px;
  color: white;
  text-align: center;
  display: block;
  margin-top: 30px;
  position: fixed;
  bottom: 0;
}

@media screen and (max-width: 400px) {
  nav ul {
    display: none;
  }
  nav {
    width: 100vw;
  }

  #section-1 {
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
  }

  #section-1 p {
    font-size: 40px;
  }

  .contact-button-desktop {
    display: none;
  }
  .contact-button-mobile {
    display: block;
  }
  div.waldo {
    margin-top: 40px;
    width: 100%;
  }
  .rds {
    margin-bottom: 40px;
  }
  div.photo {
    width: 100%;
  }
  div.photo img {
    width: 100%;
  }
}
